openapi: 3.1.0
info:
  title: CoreWeave Kubernetes Service (CKS) Clusters API
  description: 'The CoreWeave CKS API provisions and manages CoreWeave Kubernetes Service

    clusters and node pools on bare-metal GPU and CPU hardware. Endpoints

    cover cluster lifecycle operations: list, create, retrieve, update, and

    delete clusters.

    '
  version: v1beta1
  contact:
    name: CoreWeave
    url: https://docs.coreweave.com
servers:
- url: https://api.coreweave.com
  description: CoreWeave control plane
security:
- BearerAuth: []
tags:
- name: Clusters
  description: CKS cluster lifecycle operations
paths:
  /v1beta1/cks/clusters:
    get:
      tags:
      - Clusters
      summary: List all clusters
      operationId: listClusters
      responses:
        '200':
          description: A list of CKS clusters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
    post:
      tags:
      - Clusters
      summary: Create a cluster
      operationId: createCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '201':
          description: Cluster created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
  /v1beta1/cks/clusters/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: The cluster identifier.
    get:
      tags:
      - Clusters
      summary: Get a cluster's information by ID
      operationId: getCluster
      responses:
        '200':
          description: The cluster representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
    patch:
      tags:
      - Clusters
      summary: Update a cluster's configuration by ID
      operationId: updateCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '200':
          description: The updated cluster representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
    delete:
      tags:
      - Clusters
      summary: Delete a cluster by ID
      operationId: deleteCluster
      responses:
        '204':
          description: Cluster deleted.
components:
  schemas:
    Cluster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Access Token
      description: 'Provide a CoreWeave API access token using the `Authorization: Bearer

        {API_ACCESS_TOKEN}` header.

        '
